---
import Layout from "@layouts/Layout.astro";
import { Image } from 'astro:assets';
import Agent from '@assets/images/Agent.png';
import WEngine from '@assets/images/WEngine.png';
import DriveDisk from '@assets/images/DriveDisk.png'
import Bangboo from '@assets/images/Bangboo.png';
import Anby from '@assets/images/agent/Anby-icon.webp'
import Nekomata from '@assets/images/agent/Nekomata-icon.webp'
import Nicole from '@assets/images/agent/Nicole-icon.webp'
import Billy from '@assets/images/agent/Billy-icon.webp'
import Koleda from '@assets/images/agent/Koleda-icon.webp'
import Anton from '@assets/images/agent/Anton-icon.webp'
import Ben from '@assets/images/agent/Ben-icon.webp'
import Grace from '@assets/images/agent/Grace-icon.webp'
import Corin from '@assets/images/agent/Corin-icon.webp'
import Lycaon from '@assets/images/agent/Lycaon-icon.webp'
import Ellen from '@assets/images/agent/Ellen-icon.webp'
import Rina from '@assets/images/agent/Rina-icon.webp'
import Soldier11 from '@assets/images/agent/Soldier11-icon.webp'
import ZhuYuan from '@assets/images/agent/ZhuYuan-icon.webp'
import Qingyi from '@assets/images/agent/Qingyi-icon.webp'
import Jane from '@assets/images/agent/Jane-icon.webp'
import Seth from '@assets/images/agent/Seth-icon.webp'
import Caesar from '@assets/images/agent/Caesar-icon.webp'
import Lucy from '@assets/images/agent/Lucy-icon.webp'
import Piper from '@assets/images/agent/Piper-icon.webp'
import LunarDecrescent from '@assets/images/wengine/LunarDecrescent.webp'
---
<style>
	top-menu{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 16px;
	}
	menu-button{
		background-color: rgba(255,255,255,0.8);
		box-shadow: 0 0 10px #c0c0c0;
		border: 4px solid #d7f300;
		border-radius: 4px;
		text-align: center;
		line-height: 12px;
		padding-bottom: 14px;
		margin-bottom: 12px;
	}
	menu-button a{
		text-decoration: none;
		color: #000;
		font-weight: bolder;
	}
	menu-button:hover{
		background-color: #d7f300;
	}

	site-map{
		display: block;
		text-align: center;
		width: auto;
		border: 2px solid #d7f300;
		border-radius: 8px;
		padding: 12px;
	}
	site-map h2{
		margin-top: 0px;
		margin-bottom: 8px;
	}
	site-map h3{
		background-color: #d7f300;
		margin-top: 16px;
	}
	site-map h3 a{
		color: #000;
		text-decoration: none;
	}
	site-map h4{
		text-align: center;
		margin: 0 0 8px 0;
	}

	site-map-category{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 16px;
	}
	site-map-item-group{
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
	}
	site-map-item{
		border: 2px solid #d7f300;
		border-radius: 4px;
		width: 60px;
		text-align: center;
		font-size: 12px;
		font-weight: 600;
	}
	site-map-item a{
		color: #000;
		text-decoration: none;
	}
	site-map-item a:hover{
		filter: brightness(80%);
		color: #666;
	}
	site-map-item.s-rank{
		background-color: #feb500;
	}
	site-map-item.a-rank{
		background-color: #ea05fe;
	}
	site-map-item.b-rank{
		background-color: #29bbff;
	}
	site-map-item img{
		border-bottom: 2px solid #d7f300;
	}
</style>
<Layout title="トップページ">
	<top-content data-pagefind-body>
		<top-menu>
			<menu-button>
				<a href="/Agent/"><Image src={Agent} width="120" alt="エージェント" /><br/>エージェント</a>
			</menu-button>
			<menu-button>
				<a href="/WEngine/"><Image src={WEngine} width="120" alt="音動機" /><br/>音動機</a>
			</menu-button>
			<menu-button>
				<a href="/DriveDisk/"><Image src={DriveDisk} width="120" alt="ドライバディスク" /><br/>ドライバディスク</a>
			</menu-button>
			<menu-button>
				<a href="/Bangboo/"><Image src={Bangboo} width="120" alt="ボンプ" /><br/>ボンプ</a>
			</menu-button>
		</top-menu>
		<site-map>
			<h2>サイトマップ</h2>
			<site-map-content>
				<h3><a href="/Agent/">エージェント</a></h3>
				<site-map-category>
					<site-map-group>
						<h4>邪兎屋</h4>
						<site-map-item-group>
							<site-map-item class="a-rank">
								<a href="/Agent/Anby/"><img src={Anby.src} width="60" alt="アンビー" /><br/>アンビー</a>
							</site-map-item>
							<site-map-item class="s-rank">
								<a href="/Agent/Nekomata/"><img src={Nekomata.src} width="60" alt="猫又" /><br/>猫又</a>
							</site-map-item>
							<site-map-item class="a-rank">
								<a href="/Agent/Nicole/"><img src={Nicole.src} width="60" alt="ニコ" /><br/>ニコ</a>
							</site-map-item>
							<site-map-item class="a-rank">
								<a href="/Agent/Billy/"><img src={Billy.src} width="60" alt="ビリー" /><br/>ビリー</a>
							</site-map-item>
						</site-map-item-group>
					</site-map-group>
					<site-map-group>
						<h4>白祇重工</h4>
						<site-map-item-group>
							<site-map-item class="s-rank">
								<a href="/Agent/Koleda"><img src={Koleda.src} width="60" alt="クレタ" /><br/>クレタ</a>
							</site-map-item>
							<site-map-item class="a-rank">
								<a href="/Agent/Anton"><img src={Anton.src} width="60" alt="アンドー" /><br/>アンドー</a>
							</site-map-item>
							<site-map-item class="a-rank">
								<a href="/Agent/Ben"><img src={Ben.src} width="60" alt="ベン" /><br/>ベン</a>
							</site-map-item>
							<site-map-item class="s-rank">
								<a href="/Agent/Grace"><img src={Grace.src} width="60" alt="グレース" /><br/>グレース</a>
							</site-map-item>
						</site-map-item-group>
					</site-map-group>
					<site-map-group>
						<h4>ヴィクトリア家政</h4>
						<site-map-item-group>
							<site-map-item class="a-rank">
								<a href="/Agent/Corin"><img src={Corin.src} width="60" alt="カリン" /><br/>カリン</a>
							</site-map-item>
							<site-map-item class="s-rank">
								<a href="/Agent/Lycaon"><img src={Lycaon.src} width="60" alt="ライカン" /><br/>ライカン</a>
							</site-map-item>
							<site-map-item class="s-rank">
								<a href="/Agent/Ellen"><img src={Ellen.src} width="60" alt="エレン" /><br/>エレン</a>
							</site-map-item>
							<site-map-item class="s-rank">
								<a href="/Agent/Rina"><img src={Rina.src} width="60" alt="リナ" /><br/>リナ</a>
							</site-map-item>
						</site-map-item-group>
					</site-map-group>
					<site-map-group>
						<h4>オボルス小隊</h4>
						<site-map-item-group>
							<site-map-item class="s-rank">
								<a href="/Agent/Soldier11"><img src={Soldier11.src} width="60" alt="「11号」" /><br/>「11号」</a>
							</site-map-item>
						</site-map-item-group>
					</site-map-group>
					<site-map-group>
						<h4>特務捜査班</h4>
						<site-map-item-group>
							<site-map-item class="s-rank">
								<a href="/Agent/ZhuYuan"><img src={ZhuYuan.src} width="60" alt="朱鳶" /><br/>朱鳶</a>
							</site-map-item>
							<site-map-item class="s-rank">
								<a href="/Agent/Qingyi"><img src={Qingyi.src} width="60" alt="青衣" /><br/>青衣</a>
							</site-map-item>
							<site-map-item class="s-rank">
								<a href="/Agent/Jane"><img src={Jane.src} width="60" alt="ジェーン" /><br/>ジェーン</a>
							</site-map-item>
							<site-map-item class="a-rank">
								<a href="/Agent/Seth"><img src={Seth.src} width="60" alt="セス" /><br/>セス</a>
							</site-map-item>
						</site-map-item-group>
					</site-map-group>
					<site-map-group>
						<h4>カリュドーンの子</h4>
						<site-map-item-group>
							<site-map-item class="s-rank">
								<a href="/Agent/Caesar"><img src={Caesar.src} width="60" alt="シーザー" /><br/>シーザー</a>
							</site-map-item>
							<site-map-item class="a-rank">
								<a href="/Agent/Lucy"><img src={Lucy.src} width="60" alt="ルーシー" /><br/>ルーシー</a>
							</site-map-item>
							<site-map-item class="a-rank">
								<a href="/Agent/Piper"><img src={Piper.src} width="60" alt="パイパー" /><br/>パイパー</a>
							</site-map-item>
						</site-map-item-group>
					</site-map-group>
				</site-map-category>
				<h3><a href="/WEngine/">音動機</a></h3>
				<site-map-category>
					<site-map-group>
						<h4>強攻</h4>
						<site-map-item-group>
							<site-map-item class="b-rank">
								<a href="/WEngine/LunarDecrescent"><img src={LunarDecrescent.src} width="60" alt="「月相」-晦" /><br/>「月相」-晦</a>
							</site-map-item>
						</site-map-item-group>
					</site-map-group>
				</site-map-category>
				<h3><a href="/DriveDisk/">ドライバディスク</a></h3>
				<h3><a href="/Bangboo/">ボンプ</a></h3>
			</site-map-content>
		</site-map>
	</top-content>
</Layout>