---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { Tabs } from "astro-tabs";
import json from "@json/Agent/Anby.json";
import Thumbnail from "@assets/images/agent/Anby-icon.webp";
import Splash from "@assets/images/agent/Anby-splash.webp";
import Faction from "@assets/images/faction/CunningHares.png";
import Stats from "@assets/images/stats/electric.webp";
import Speciality from "@assets/images/speciality/Stun.webp";
import Type from "@assets/images/type/Slash.webp";

import BasicSeal from "@assets/images/material/BasicStunCertificationSeal.webp";
import AdvancedSeal from "@assets/images/material/AdvancedStunCertificationSeal.webp";
import CertificationSeal from "@assets/images/material/BusterCertificationSeal.webp";
import BasicChip from "@assets/images/material/BasicShockChip.webp";
import AdvancedChip from "@assets/images/material/AdvancedShockChip.webp";
import SpecializedChip from "@assets/images/material/SpecializedShockChip.webp";
import HamsterCagePass from "@assets/images/material/HamsterCagePass.webp";
import HigherDimensionalData from "@assets/images/material/MurderousObituary.gif";
import NotoriousHunt from "@assets/images/material/FerociousGrip.gif";

import Basicattack from "@assets/images/attackbutton/BasicAttackButton.webp";
---
<Layout title={json.name},thumbnail={Thumbnail}>
    <navigation>
        <span class="fas fa-folder fa-fw"></span>
        <a href="/Agent/">エージェント</a>
        <span class="fas fa-angle-right fa-fw"></span>
        <span class="fas fa-file fa-fw"></span>
        {json.name}
    </navigation>
    <h1 data-pagefind-body>{json.name}</h1>
    <main-content data-pagefind-body>
        <content-block>
            <h2>目次</h2>
            <ul class="toc">
                <li><a href="#toc1">画像</a></li>
                <li><a href="#toc2">基本情報</a></li>
                <li><a href="#toc3">ステータス</a></li>
                <li><a href="#toc4">育成素材</a></li>
                <li><a href="#toc5">スキル</a></li>
            </ul>
        </content-block>
        <content-block id="toc1">
            <h2>画像</h2>
            <img class="splash-image" src={Splash.src} />
        </content-block>
        <content-block id="toc2">
            <h2>基本情報</h2>
            <table class="basic-info">
                <tbody>
                    <tr>
                        <th>名前</th>
                        <td>{json.fullname}</td>
                    </tr>
                    <tr>
                        <th>レアリティ</th>
                        <td>{json.rank}</td>
                    </tr>
                    <tr>
                        <th>陣営</th>
                        <td><img src={Faction.src} alt={json.faction}/>{json.faction}</td>
                    </tr>
                    <tr>
                        <th>属性</th>
                        <td><img src={Stats.src} alt={json.faction}/>{json.stats}</td>
                    </tr>
                    <tr>
                        <th>特性</th>
                        <td><img src={Speciality.src} alt={json.faction}/>{json.speciality}</td>
                    </tr>
                    <tr>
                        <th>攻撃</th>
                        <td><img src={Type.src} alt={json.faction}/>{json.type}</td>
                    </tr>
                    <tr>
                        <th>性別</th>
                        <td>{json.gender}</td>
                    </tr>
                    <tr>
                        <th>身長</th>
                        <td>{json.height}</td>
                    </tr>
                    <tr>
                        <th>誕生日</th>
                        <td>{json.birthday}</td>
                    </tr>
                    <tr>
                        <th>CV</th>
                        <td>{json.cv}</td>
                    </tr>
                    <tr>
                        <th>実装</th>
                        <td>{json.ver}</td>
                    </tr>
                </tbody>
            </table>
        </content-block>
        <content-block id="toc3">
            <h2>ステータス</h2>
            <table class="agent-status">
                <tbody>
                    <tr>
                        <th>HP</th>
                        <td>{json.hp}</td>
                    </tr>
                    <tr>
                        <th>攻撃力</th>
                        <td>{json.atk}</td>
                    </tr>
                    <tr>
                        <th>防御力</th>
                        <td>{json.def}</td>
                    </tr>
                    <tr>
                        <th>衝撃力</th>
                        <td>{json.impact}</td>
                    </tr>
                    <tr>
                        <th>異常掌握</th>
                        <td>{json.mastery}</td>
                    </tr>
                    <tr>
                        <th>異常マスタリー</th>
                        <td>{json.proficiency}</td>
                    </tr>
                </tbody>
            </table>
            （Lv.60時点）
        </content-block>
        <content-block id="toc4">
            <h2>育成素材</h2>
            <table class="agent-material">
                <tbody>
                    <tr>
                        <th rowspan="3">等級昇格</th>
                        <td><img src={BasicSeal.src}/>{json.basicseal}</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td><img src={AdvancedSeal.src}/>{json.advancedseal}</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td><img src={CertificationSeal.src}/>{json.certificationseal}</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <th rowspan="4">スキル</th>
                        <td><img src={BasicChip.src}/>{json.basicchip}</td>
                        <td>5x5</td>
                    </tr>
                    <tr>
                        <td><img src={AdvancedChip.src}/>{json.advancedchip}</td>
                        <td>15x5</td>
                    </tr>
                    <tr>
                        <td><img src={SpecializedChip.src}/>{json.specializedchip}</td>
                        <td>50x5</td>
                    </tr>
                    <tr>
                        <td><img src={HamsterCagePass.src}/>ハムスターケージ</td>
                        <td>1x5</td>
                    </tr>
                    <tr>
                        <th rowspan="2">コアスキル</th>
                        <td><img src={HigherDimensionalData.src}/>{json.higherdimensionaldata}</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td><img src={NotoriousHunt.src}/>{json.notorioushunt}</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </content-block>
        <content-block class="skill" id="toc5">
            <h2>スキル</h2>
            <Tabs class="skill" class:list={['skill-list']}>
                <Fragment slot="tab-1">通常攻撃</Fragment>
                <Fragment slot="tab-2">回避</Fragment>
                <Fragment slot="tab-4">支援スキル</Fragment>
                <Fragment slot="tab-3">特殊スキル</Fragment>
                <Fragment slot="tab-5">連携スキル</Fragment>
              
                <Fragment slot="panel-1">
                    <h3>通常攻撃：ボルトターボ</h3>
                    <img src={Basicattack.src} width="16px">を押して発動：<br/>
                    前方に最大4段の斬撃を放つ。最初の3段は<span class="physical">物理属性ダメージ</span>を与え、4段目は<span class="electric">電気属性ダメージ</span>を与える。
                </Fragment>
              
                <Fragment slot="panel-2">
                    b
                </Fragment>
              
                <Fragment slot="panel-3">
                    c
                </Fragment>
                <Fragment slot="panel-4">
                    d
                </Fragment>
                <Fragment slot="panel-5">
                    e
                </Fragment>
              </Tabs>
        </content-block>
    </main-content>
</Layout>